---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Wondering Which Weight Loss Supplement Will Work Best For You?</h1>
			<b>The Guide to Finding The Right Weight Loss Supplement</b>
			<p>
				Did you know that 95% of weight loss supplements don’t work? With over 500 weight loss supplements on the market, the chances of finding one that works is slim to none (actually about 5%, but I wanted to use that phrase).
			</p>
			<br>
			<b>Whatever you do, don’t buy a weight loss supplement based on…</b>
			<ul>
				<li>Popularity (companies spend millions on marketing to create hype)</li>
                <li>Price (more expensive doesn’t mean more effective)</li>
                <li>Celebrity Endorsements (celebrities have no problem selling out for a quick buck)</li>
			</ul>
			<p>If you want to find a weight loss supplement that works, <b>base your decision on SCIENCE</b>. At followmyweigh.com, we only recommend products backed by scientific evidence.</p>
			<p>Our goal is to SAVE you TIME and MONEY by providing you with
unbiased information on every weight loss supplement.</p>
            <h2>How We Compare</h2>
			<b>We compare the Most Popular Weight Loss Supplements side-by-side based on the following Criteria:</b>
			<ul>
				<li>Clinically Proven Ingredients</li>
				<li>Weight Loss Potential</li>
				<li>Overall Value</li>
				<li>Money Back Guarantee</li>
				
			</ul>
			<p>
				<b>Which one contain the most clinically proven ingredients?</b>
			</p>
			<p>
				Looking for more clinically proven supplements? Check out <a
					href="https://followmyweigh.com/blog"
					>blog</a> 
			</p>
		</main>
		<Footer />
	</body>
</html>
